/* Configuración 
Color_1: #00E0FF
Color_2: #0028FF
Tipografia_1: 'Halant', serif;
Tipografia_2: 'Nunito Sans', sans-serif;
*/

/* Estilos del Body */

body {
  background-image: url(../img/blue\ wavy_1.png);
  background-size: cover;
  background-position: center;
}

/* Estilos del Header */

header img {
  height: 150px;
}

.menu ul li {
  list-style: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: right;
  color: #0028FF;
}

.menu ul li a {
  text-decoration: none;
}

/* Estilos del Main */

h1, h2 {
  color: #0028FF;
  background-color: #00E0FF;
  font-family: 'Halant', serif;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: left;
}

ul.datos li {
  list-style: disc;
}

ul.datos li span {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style: none;
  font-family: 'Nunito Sans', sans-serif;
}

ul li span {
  font-weight: bold;
}

/* Estilos del Footer */

footer {
  background-color: #0028FF;
}

footer p {
  color: #00E0FF;
  text-align: center;
}

footer i {
  color: #00E0FF;
}