/* Configuración*/

:root {
  --cian: #00E0FF;
  --azul_rey: #0028FF;
  --haland: 'Halant', serif;
  --nunito: 'Nunito Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Estilos del Body */

body {
  background-image: url(../img/blue\ wavy_1.png);
  background-position: center;
}

/* Estilos del Header */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh
}

header .menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .menu ul li {
  list-style: none;
}

header .menu ul li a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--azul_rey);
  margin: 0 1rem;
}

/* Estilos del main */

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

main img {
  max-width: 25%;
  border-radius: 3rem;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

main h1 {
  text-align: left;
  color: var(--cian);
  font-weight: 700;
  font-size: 4rem;
}

main h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  text-align: left;
  color: var(--azul_rey);
}

/* Estilos del footer */

footer {
  height: 10vh;
  background-color: #0028FF;
}

footer p {
  text-align: center;
  font-size: 14px;
  font-family: 'Halant', serif;
  font-weight: 700;
  color: #00E0FF;
}

footer i {
  color: #00E0FF;
}